/* Home Page Style
  By: Isaiah Fischer-Brown
Date: February 6th
 Mod: October 13th
*/


html { 

	overflow: hidden;
	height: 100%;

}

body {

  background: #505D2B;
  margin: 0;
/*  width: 100%;
  height: 100%;*/
	
}

a {
	color: white;
}

#menu {
	display: flex;
	float: right;
}

.link {
	width: 135px;
	padding-right: 50px;

}

#main_graphic {
	display: flex;
    justify-content: center;
    height: 1200px; /* or other desired height */
    overflow: hidden;
}

#main_graphic img {
	flex: none;
	position: absolute;
	top: -550px;
	height: 1900px;
	padding-left: 260px;

	
}


header {

}


/** {
	border: 1px solid red;
}*/
