/** style sheet Attempt 1 
  By: Isaiah Fischer-Brown
Date: February 6th
**/

/** body {
	background-image:url("IMG_1407.JPG") no-repeat center center fixed;
	background-size: cover;
	width: auto;
	height: 100%;
} **/

#bg {
	position: fixed;
	bottom: -50%;
	left: 0%;
	width: 200%;
	height: 200%;
}
