/** style sheet Attempt 1 
  By: Isaiah Fischer-Brown
Date: February 6th
**/

body {
	background-size: contain;
	background-color: transparent;
}

#bg {
	position: fixed;
	bottom: -50%;
	left: 0%;
	width: 200%;
	height: 200%;
	z-index: -1;
}

#menu {
	font-size: 26px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
}

#menu ul {
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#menu li {
	diplay: inline;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#menu a:hover {
	background-color: #111;
}